.app {
    --default-space: 16px;
    --icon-size: 24px;

    height: 100vh;
}

.content {
    overflow-y: scroll;
    margin: var(--default-space);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    margin-top: var(--default-space);
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.pagination {
    margin-top: var(--default-space);
    text-align: center;
}

.post-card {
    margin-bottom: var(--default-space);
}

.list {
    background: white;
}